.form-container {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px lightgray;
  padding: 40px;
  margin-top: 100px;
}

.nav-link {
  color: #333;
  border-bottom: 1px solid #ccc;
}
.nav-link:hover {
  color: #007bff;
}